<h1>Editing audit</h1>

<%= render "form", audit: @audit %>

<br>

<div>
  <%= link_to "Show Audit Findings", @audit, class: "btn btn-secondary mt-3" %> 
  <%= link_to "Back to Audits", audits_path, class: "btn btn-secondary mt-3" %>
</div>
